html {
	background-color:#F4F4F4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

body {
	width:560px;
	border:1px solid #ddd;
	margin:10px auto;
	background-color:rgb(177, 194, 183);
	padding:10px 30px;
	border-radius:5px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	font-style:italic;
	letter-spacing:-0.05em;
	color:#C63;
	margin:2px 0 15px;
	text-shadow:1px 1px 2px #666;
}

input {
	display:block;
	margin-bottom:20px;
	border:1px solid #999;
	padding:8px;
	border-radius:3px;
}

select {
	border-radius:3px;


}
input:focus {
	border:1px solid #ccc;
	outline:none;
}



label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 6px 6px 6px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}


input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
	margin-top: 30px;
	
}

